.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content a {
    margin-top: 1em;
}

.content video {
    max-width: 100%;
    height: auto;
    margin: 0 1em;
}
