/* ---------------------------- */
/* Variables                    */
/* ---------------------------- */

:root {
  --card-width-factor: 0.38;
  --card-width-max: calc(var(--width-available-max) * var(--card-width-factor));
  --card-width-desired: calc(100vw * var(--card-width-factor));
  --card-width: min(var(--card-width-desired), var(--card-width-max));

  --card-font-size-h1: 120%;
  --card-font-size-h2: 100%;
  --card-font-size-p: 66%;
}

/* ---------------------------- */
/* Selectors                    */
/* ---------------------------- */

.banner {
  margin-bottom: calc(50% * 9 / 16);
}

.banner .h1 {
  font-size: var(--card-font-size-h1);
}

.banner .h2 {
  font-size: var(--card-font-size-h2);
}

.banner .p {
  font-size: var(--card-font-size-p);
  color: #ababab;
}

.banner .slider .item h1,
.banner .slider .item h2,
.banner .slider .item h3,
.banner .slider .item p {
  line-height: 1em;
}

.banner .golden {
  color: var(--yellow-5);
  text-shadow: 0 0 20px var(--yellow-2);
}

.banner .glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  /* Safari support */
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: var(--glass-frame-border-width);
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: visible;
  position: relative;
}

/* ---------------------------------------------------- */
/*                                                      */
/* ---------------------------------------------------- */

.banner .slider {
  position: relative;
  transform-style: preserve-3d;
  animation-delay: 0ms;
  z-index: 2;
  opacity: 1;
  visibility: visible;
  user-select: none;

  /* ---------------------------------------------------- */
  /* Calculations of container size.                      */
  /* - 100% of view port - n%                             */
  /* ---------------------------------------------------- */
  top: calc(100dvh * 0.05);
  aspect-ratio: 16/9;
  width: var(--card-width);
}

.banner .slider .item {
  display: flex;
  justify-content: center;
  position: absolute;
  cursor: pointer !important;
  inset: 0 0 0 0;
  /* box-shadow: 0 0.2rem 1rem rgba(255, 254, 247, 0.15); */
  user-select: none;
  line-height: normal;
  
  /* ---------------------------------------------------- */
  /* Calculations of card width, et.                      */
  /* - rotateY   ; rotation of card circle                */
  /* - translateZ: diameter of circle based on card width */
  /* ---------------------------------------------------- */
  transform: 
        rotateY(calc( (var(--position) - 1) * (360deg / var(--quantity)) ))
        translateZ(calc( var(--card-width) / (2 * sin(180deg / var(--quantity))) ));
}

.banner .slider .item img {
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
}

.banner .slider .item video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Fills container, may crop */
  position: relative;
  /* clip-path: polygon(
        0% 0%,
        40% 0%,
        50% 10%,
        100% 10%,
        100% 100%,
        0% 100%
      ); */
}
