
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 13px 10%;
  background-color: #1a1a1a;
  font-size: 1.6em;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  cursor: pointer;
  width: 4em;
  margin-right: auto;
}

nav {
  width: 100%;
}
