.menu-desktop {
  display: flex;
  gap: 1.5em;
  font-size: var(--font-size-3);
  white-space: nowrap;
  
  button {
    font-size: var(--font-size-4);
    background-color: transparent;
    vertical-align: middle;
  }

  button:hover {
    animation: scalePulse 1s ease;
  }
    
  img.logo-resume {
    height: 2rem;
  }
  
  img.logo-artstation {
    width: 2rem;
    filter: grayscale(100%) sepia(100%) hue-rotate(373deg) saturate(60%) brightness(79%);
  }
  
  img.logo-linkedin {
    width: 2rem;
    filter: grayscale(100%) sepia(100%) brightness(55%);
  }
  
  .button.btn-mobile-menu-open {
    margin-left: 1em;
  }
}
