header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--size-3) 0;
  margin-inline: var(--size-4);
  /* background: black; */
}

/* .title {
  font-size: var(--font-size-4);
  color: var(--sand-3);
  text-shadow: 3px 3px 10px var(--sand-2);
  padding-inline: 0.25em;
  white-space: nowrap;
} */

.title img {
  width: 4em;
}

.menu-desktop {
  display: flex;
  gap: 1.5em;
  font-size: var(--font-size-3);
  white-space: nowrap;
}

header button {
  background-color: transparent;
  vertical-align: middle;
}

header button img.logo-artstation {
  width: var(--font-size-6);
}

header button img.logo-linkedin {
  width: var(--font-size-3);
}

.header button.btn-mobile-menu-open {
  margin-left: 1em;
}
