/* --------------------------------------------------- */
/* Shared                                              */
/* --------------------------------------------------- */

page {
  display: none;
  min-height: 100dvh;
  padding-inline: 10px;
  margin-inline: auto;
  flex: 1;
  color: var(--theme-color-page);
  font-size: var(--font-size-4);

  /* border: solid 1px red; */
  /* background-blend-mode: luminosity; */
  /* filter: brightness(0.25) hue-rotate(335deg); */
  filter: hue-rotate(335deg);
}

page.active {
  display: block;
}

page h1,
page h2,
page h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* Goes with: .app-icons div { justify-content: end; } */
.app-icons {
  display: flex;
  gap: var(--size-2);
  justify-content: start;
}

.app-icons img {
  border-width: 0;
  width: var(--size-7);
}

page .glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  /* Safari support */
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: var(--size-3);
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */ /* Soft shadow */
  padding: max(1vw, 10px);
}

/* --------------------------------------------------- */
/* Home page                                           */
/* --------------------------------------------------- */

page.home.active { display: flex; }
page.home {
  padding: var(--size-4);
  overflow-y: scroll;
  justify-content: center;
  align-items: start;
  /* height: 100dvh; */
}

/* --------------------------------------------------- */
/* City rain page                                      */
/* --------------------------------------------------- */

page.city-rain production {
  display: grid;
  gap: var(--size-3);
  grid-template-columns: 1fr 2fr;
  max-width: 50rem;
  margin-inline: auto;
}

page.city-rain production .grid-col-span-2 {
  grid-column: span 2;
}

@media (max-width: 800px) {
  page.city-rain production {
    grid-template-columns: 1fr;
  }

  page.city-rain production .grid-col-span-2 {
    grid-column: span 1;
  }

  page div.content {
    margin-top: 0;
  }
}

/* --------------------------------------------------- */
/* Volcano page                                        */
/* --------------------------------------------------- */

page.volcano production {
  display: grid;
  gap: var(--size-3);
  grid-template-columns: 1fr 2fr;
  max-width: 50rem;
  margin-inline: auto;
}

page.volcano production .grid-col-span-2 {
  grid-column: span 2;
}

@media (max-width: 800px) {
  page.volcano production {
    grid-template-columns: 1fr;
  }

  page.volcano production .grid-col-span-2 {
    grid-column: span 1;
  }

  page div.content {
    margin-top: 0;
  }
}

/* --------------------------------------------------- */
/* Classroom page                                      */
/* --------------------------------------------------- */

page.classroom production {
  display: grid;
  gap: var(--size-3);
  grid-template-columns: 1fr 2fr;
  max-width: 50rem;
  margin-inline: auto;
}

page.classroom production .grid-col-span-2 {
  grid-column: span 2;
}

page div.content {
  margin-top: var(--size-8);
}

@media (max-width: 800px) {
  page.classroom production {
    grid-template-columns: 1fr;
  }

  page.classroom production .grid-col-span-2 {
    grid-column: span 1;
  }

  page div.content {
    margin-top: 0;
  }
}

/* --------------------------------------------------- */
/* Bio page                                            */
/* --------------------------------------------------- */

page.biography production {
  display: grid;
  padding-inline: clamp(1%, 13%, 30%);
}

@media (max-width: 800px) {
  page.biography production {
    padding-inline: unset;
  }
}

page.biography h1 {
  font-size: var(--size-8);
  margin-bottom: var(--size-4);
}

page.biography div.p,
page.biography p {
  margin-bottom: var(--size-4);
  display: block;
  width: auto;
}
