/* --------------------------------------------------- */
/* Shared                                              */
/* --------------------------------------------------- */

page {
  display: none;
  min-height: 100dvh;
  padding-inline: 10px;
  margin-inline: auto;
  flex: 1;
  color: var(--theme-color-page);
  font-size: var(--font-size-4);
}

page.active {
  display: block;
}

page h1,
page h2,
page h3 {
  margin-block: 2rem 1rem;
}

page p {
  font-size: inherit;
  margin-block: var(--size-2);
  font-size: inherit;
}

page.p ~ p {
  margin-top: 1em;
}

page p::first-letter {
  font-size: var(--font-size-5);
}

/* Goes with: .app-icons div { justify-content: end; } */
.app-icons {
  display: flex;
  gap: var(--size-2);
  justify-content: start;
}

.app-icons img {
  border-width: 0;
  width: var(--size-7);
}

page .glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  /* Safari support */
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: var(--size-3);
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */ /* Soft shadow */
  padding: var(--glass-frame-border-width);
}

page div.content {
  /* see selector "page p::first-letter" */
  margin-top: 0.5rem;
}

page div.content img {
  width: 100%;
}

/* --------------------------------------------------- */
/* top right floating content                          */
/* --------------------------------------------------- */

.illustration-container {
  display: flow;
}

.illustration-float {
  float: right;
  width: 66%;
  shape-outside: margin-box;
  margin-left: 1rem;
  margin-block: var(--size-4);
}

.illustration-float img {
  width: 100%;
}

@media (max-width: 800px) {
  .illustration-container {
    display: grid;
  }

  .illustration-float {
    float: none;
    width: 100%;
    order: 2;
    margin-left: 0;
  }
}

/* --------------------------------------------------- */
/* Home page                                           */
/* --------------------------------------------------- */

page.home.active { display: flex; }
page.home {
  padding: var(--size-4);
  overflow-y: scroll;
  justify-content: center;
  align-items: start;
  /* height: 100dvh; */
}

/* --------------------------------------------------- */
/* Projects                                      */
/* --------------------------------------------------- */

page.projects production {
  display: grid;
  max-width: 50rem;
  margin-inline: auto;
}

page.projects production .illustration-float {
  width: 44%;
}

/* --------------------------------------------------- */
/* City rain page                                      */
/* --------------------------------------------------- */

page.city-rain production {
  display: grid;
  max-width: 50rem;
  margin-inline: auto;
}

/* --------------------------------------------------- */
/* Volcano page                                        */
/* --------------------------------------------------- */

page.volcano production {
  display: grid;
  max-width: 50rem;
  margin-inline: auto;
}

/* --------------------------------------------------- */
/* Classroom page                                      */
/* --------------------------------------------------- */

page.classroom production {
  display: grid;
  max-width: 50rem;
  margin-inline: auto;
}

/* --------------------------------------------------- */
/* Octopus page                                        */
/* --------------------------------------------------- */

page.octopus-lady production {
  display: grid;
  max-width: 50rem;
  margin-inline: auto;
}

/* --------------------------------------------------- */
/* Bio page                                            */
/* --------------------------------------------------- */

page.biography production {
  display: grid;
  max-width: 50rem;
  margin-inline: auto;
  padding-inline: clamp(1%, 13%, 30%);
}

@media (max-width: 800px) {
  page.biography production {
    padding-inline: unset;
  }
}

/* page.biography h1 {
  font-size: var(--size-8);
  margin-bottom: var(--size-4);
} */
