:root {
  --width-available-max: 1200px;
  
  --theme-color: var(--sand-5);
  --theme-color-page: var(--sand-3);
  --theme-color-muted: var(--sand-9);
  --theme-color-menu-mobile: var(--sand-1);
  --theme-background-highlight: var(--sand-3);

  /* --theme-font-size-h1: var(--font-size-7); */
}
